global
  log stdout len 2048 format raw daemon info
  tune.bufsize ${tune_bufsize}

defaults
  log  global
  mode http

  option dontlognull
  option redispatch
  # option abortonclose has been removed due to reporting 503s for aborted connection, which pollutes our observability

  retries 1

  timeout connect 1000
  timeout client  50000
  timeout server  50000

  # HTTP KeepAlive timeout must be greater than the ALB's connection idle timeout (default 60s). If this is not respected there will be random 502 errors.
  timeout http-keep-alive 70000

  log-format "{ \"request\": { \"duration_ms\": %Tt, \"response_code\": %ST, \"request_id\": \"%ID\", \"method\": \"%HM\", \"host\": \"%H\", \"path\": \"%%{+E}HP\", \"user_agent\": \"%[capture.req.hdr(0),json(utf8s)]\" }, \"log\": { \"timestamp\": \"%[date,ltime(%Y-%m-%dT%H:%M:%S.000Z)]\" }, \"timestamp\": \"%[date,ltime(%Y-%m-%dT%H:%M:%S+00:00)]\", \"host\": \"%[capture.req.hdr(1),json(utf8s)]\", \"remote_addr\": \"%[capture.req.hdr(3),json(utf8s)]\", \"remote_user\": \"\", \"body_bytes_sent\": \"%U\", \"request_time\": \"%Tq\", \"request_id\": \"%ID\", \"nginx_status\": \"%ST\", \"hostname\": \"%H\", \"server_protocol\": \"%HV\", \"request_uri\": \"%%{+E}HP\", \"request_method\": \"%HM\", \"http_referrer\": \"%[capture.req.hdr(2),json(utf8s)]\", \"http_origin\": \"\", \"http_user_agent\": \"%[capture.req.hdr(0),json(utf8s)]\" }"

listen stats
  bind *:8000
  mode http
  stats enable
  stats uri /stats

frontend prometheus
  bind *:8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log

frontend ingress
  bind *:8080
  bind *:8443 ssl crt /tls/haproxy.pem alpn h2,http/1.1
  mode http

  http-request redirect scheme https unless { ssl_fc }

  http-request set-var(txn.host) req.hdr(Host)

  http-request return status 200 if { path "/health" }

  %{ if strip_baggage }
  # Remove baggage header from all requests.
  # Baggage should only be propagated internally in the cluster.
  # See https://github.com/powise/x/tree/main/callcontext to learn more about how we use baggage.
  http-request del-header baggage
  %{ endif }

  unique-id-format %%{+X}o\ %ci:%cp_%fi:%fp_%Ts_%rt:%pid
  unique-id-header X-Request-ID

  http-request capture req.fhdr(User-Agent) len 512
  http-request capture req.hdr(Host) len 128
  http-request capture req.hdr(Referer) len 128
  http-request capture req.hdr(X-Forwarded-For) len 128

  # Add missing CORS headers
  http-response set-header Access-Control-Allow-Methods GET,\ OPTIONS,\ POST,\ PUT,\ PATCH,\ DELETE
  http-response set-header Access-Control-Allow-Headers X-powise-Key,\ Content-Type,\ Authorization,\ powise-Version,\ powise-app,\ X-Requested-With,\ anonymousid
  http-response add-header Access-Control-Expose-Headers Location,\ X-Request-Id
  http-response set-header Strict-Transport-Security max-age=63072000;\ includeSubDomains

  # Prevent browsers from sniffing MIME types of the documents served
  http-response set-header X-Content-Type-Options nosniff

  %{ if block_indexing }
  # Optionally block indexing, see https://developers.google.com/search/docs/crawling-indexing/block-indexing
  http-response add-header X-Robots-Tag noindex,\ nofollow
  %{ endif }

  default_backend ingress

backend ingress
  mode http

  acl is_options method OPTIONS
  http-response set-status 200 if is_options
  http-request add-header X-Forwarded-Host %[req.hdr(Host)]
  http-request set-header X-Real-IP %[hdr_ip(x-forwarded-for,1)]

  server ingress ${backend} ssl verify none sni var(txn.host) alpn h2,http/1.1
